body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #858585;
  color: #000000;
}

#login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input, button {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}
.image-container {
  position: absolute;
  top: 0;
  left: 0; /* Cambia a 'right: 0;' para colocarla en la esquina superior derecha */
  background-color: yellow;
  padding: 5px;
  border-radius: 8px;
}

.img1 {
  width: 164px; /* Ajusta el tamaño según lo que necesites */
  height: auto;
}

button {
  background-color: #3d39ff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

header {
  background-color: #FFE043;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #4235ff;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container {
  display: flex;
  height: calc(100vh - 70px);
}

.sidebar {
  width: 200px;
  background-color: #FFE043;
  padding: 1rem;
}

.sidebar h2 {
  color: #0059ff;
}

.sidebar li {
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
  color: #000000;
}

.sidebar li:hover {
  color: #bb86fc;
}

.content {
  flex: 1;
  padding: 2rem;
}

.video-container {
  margin-bottom: 1rem;
}

.progress {
  margin-top: 1rem;
  color: #bb86fc;
}

.comments {
  margin-top: 2rem;
}

.comments textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  resize: vertical;
}

.comments button {
  background-color: #4235ff;
}
  
  